<div class="container mt-5">
    <h2 class="text-center badge-dark mb-5">{{name}}</h2>

    <div class="container">
        <table class="table table-hover">
            <h6 class="card-title text-center"> Última doação cadastrada!</h6>
            <thead class="title-table">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Doador</th>
                    <th scope="col">Tipo de Doação</th>
                    <th scope="col">Data</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Item:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">{{doacoes_id}}</th>
                    <th scope="col">{{doacoes_donatedName}}</th>
                    <th scope="col">{{doacoes_donatedItemType}}</th>
                    <th scope="col">{{doacoes_donationDate}}</th>
                    <th scope="col">{{doacoes_moneyValue}}</th>
                    <th scope="col">{{ultimo_item}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">Total de Contribuições Monetárias:</p>
                    <h4 class="card-title"> R$ {{total_doacoes_dinheiro}}</h4>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">Total de Valores Estimados de Items:</p>
                    <h4 class="card-title"> R$ {{total_doacoes_estimado}}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">Total de Items Já doados à Insituição:</p>
                    <h4 class="card-title">{{doacoes_id}}</h4>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">Total de Familias Beneficiadas:</p>
                    <h4 class="card-title">255</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">Lista recente de Itens doados:</p>
                    <h4 class="card-title">{{descricao_item}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-bottom"></div>


    <style>
        .badge-dark {
            background-color: #758AB0;
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.7);
        }
        
        .table-hover {
            border: 1px solid rgb(117, 138, 176, 0.3)!important;
            border-radius: 10px;
        }
        
        table thead th {
            background-color: rgb(117, 138, 176, 0.3)!important;
            font-size: medium;
        }
        
        .table-hover table .table {
            border-radius: 0px 10px 10px 0px!important;
        }
        
        .card {
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            border-radius: 50px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            color: #FFF;
            margin-bottom: 20px;
        }
        
        .card-title,
        p a {
            font-size: 24px;
            font-weight: bold;
            color: #b9c6e0;
            margin-bottom: 10px;
            text-shadow: #000 1px 1px 1px;
        }
        
        .card-text {
            font-size: 18px;
            margin-bottom: 15px;
        }
        
        .margin-bottom {
            height: 100px;
        }
    </style>